
---
---

@import index

html
  padding: 0

body
  margin: 0 0 0 20.5em
  max-width: inherit
  overscroll-behavior: none

body > header, body > footer
  display: none

body > article
  margin: 0 3.75em 0 5.25em
  padding: 1.5em 0
  max-width: 58em


article header h1
  font-size: 1.65em
  margin: 0 0 .6em 0

article h2
  margin-top: 1.4em
  margin-bottom: .5em

aside
  display: block!important
  position: fixed
  overflow: auto
  background: #0021A5
  color: #fff
  padding: 1.6em
  width: 13em
  top: 0
  bottom: 0
  left: 0

nav
  margin: 0 -1.6em

nav a
  display: block
  margin: 0
  padding: .45em 1.6em
  color: #ffffff
  text-decoration: none

nav a:hover, nav a.selected
  background: #FA4616
  color: #ffffff
  text-decoration: none

.icon
  margin-right: 1.0em
  color: inherit!important

.description
  margin: 1.25em 0

/* Mobile */
@media (max-width: 900px)
  aside
    position: relative
    width: auto

  body
    margin: 0

  body > article
    margin: 0 1.25em
    max-width: 100%

